
/*** Color Themes ***/
:root {
  --start-color: #f11212;
  --end-color: #e68271;
  --start-color-fadded: #f11212;
  --end-color-fadded: #e68271;
  --invlid-input-color: red;
  --color-disabled: #b85e4e;
  --color-font: #000;
  --progress-color: red;
}

.gradient--1 {
  --gradient-start: #6DE195;
  --gradient-end: #C4E759;
}

.gradient--2 {
  --gradient-start: #41C7AF;
  --gradient-end: #54E38E;
}

.gradient--3 {
  --gradient-start: #99E5A2;
  --gradient-end: #D4FC78;
}

.gradient--4 {
  --gradient-start: #ABC7FF;
  --gradient-end: #C1E3FF;
}

.gradient--5 {
  --gradient-start: #6CACFF;
  --gradient-end: #8DEBFF;
}

.gradient--6 {
  --gradient-start: #5583EE;
  --gradient-end: #41D8DD;
}

.gradient--7 {
  --gradient-start: #A16BFE;
  --gradient-end: #DEB0DF;
}

.gradient--8 {
  --gradient-start: #D279EE;
  --gradient-end: #F8C390;
}

.gradient--9 {
  --gradient-start: #F78FAD;
  --gradient-end: #FDEB82;
}

.gradient--10 {
  --gradient-start: #BC3D2F;
  --gradient-end: #A16BFE;
}

.gradient--11 {
  --gradient-start: #A43AB2;
  --gradient-end: #E13680;
}

.gradient--12 {
  --gradient-start: #9D2E7D;
  --gradient-end: #E16E93;
}

.gradient--13 {
  --gradient-start: #f11212;
  --gradient-end: #e68271;
}

.gradient--14 {
  --gradient-start: #F5CCF6;
  --gradient-end: #F1EEF9;
}

.gradient--15 {
  --gradient-start: #F0EFF0;
  --gradient-end: #FAF8F9;
}

.gradient--16 {
  --gradient-start: #121317;
  --gradient-end: #323B42;
}

.modal-body ul {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: 100px;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #999;
  font-size: 12px;
}

.modal-body li {
  position: relative;
  text-align: center;
}

.gradient {
  display: inline-block;
  height: 70px;
  width: 50%;
  background: linear-gradient(33deg, var(--gradient-start), var(--gradient-end));
  border-radius: 20px;
  box-shadow: 0 5px 10px #0002;
  cursor: pointer;
}

.modal-body ul li {
  list-style: none; 
}

@media screen and (min-width: 1750px) { :root { --columns: 4; } }
@media screen and (max-width: 1750px) { :root { --columns: 4; } }
@media screen and (max-width: 1500px) { :root { --columns: 4; } }
@media screen and (max-width: 1250px) { :root { --columns: 4; } }
@media screen and (max-width: 1000px) { :root { --columns: 4; } }
@media screen and (max-width: 750px) { :root { --columns: 4; } }
@media screen and (max-width: 625px) { :root { --columns: 3; } }
@media screen and (max-width: 500px) { :root { --columns: 3; } }
@media screen and (max-width: 375px) { :root { --columns: 2; } }
@media screen and (max-width: 250px) { :root { --columns: 2; } }

@media screen and (max-width: 750px) {
  .modal-body ul {
    margin-top: 15px;
    grid-auto-rows: 190px;
    font-size: 10px;
  }
  .gradient {
    height: 125px;
  }
}










/* Password Checker */
.progress {
  height: 3px;
}

.progress-bar {
  background-color: var(--progress-color) !important;
}

.control-label {
    text-align: left !important;
    padding-bottom: 7px;
}

.form-horizontal {
    padding: 25px 20px;
    border: 2px solid #e8eaed;
    border-radius: 5px;
}
    
.valid-input {
  border-color: green !important;
}

.invalid-input {
  border-color: var(--invlid-input-color) !important;
}

.fa-times {
    color: red !important;
}

.fa-check {
  color: green !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: linear-gradient(135deg, #e68271, #f11212); */
  background: linear-gradient(135deg, var(--start-color), var(--end-color));
}

.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  background: var(--end-color);
  color: var(--color-font);
}

.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--start-color), var(--end-color));
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% - 20px);
}

form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  color: #000;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: gray;
}

form .gender-details .gender-title{
font-size: 20px;
font-weight: 500;
}

form .category{
  display: flex;
  width: 80%;
  margin: 14px 0 ;
  justify-content: space-between;
}

form .category label{
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

form .button{
  height: 45px;
  margin: 35px 0
}

.button button {
  border-radius: 5px;
  border: none;  
  font-size: 18px;
  font-weight: 500;
  color: var(--color-font);
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, var(--start-color), var(--end-color));
}

.button button:focus{
  color: var(--color-font);
}

.button button:hover{
  color: var(--color-font);
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, var(--start-color), var(--end-color));
}

form .button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: var(--color-font);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

form .button input:disabled {
  opacity: 0.65;
  cursor: not-allowed;
  background-color: var(--color-disabled);
  color: var(--color-font);
}

form .button input:hover:disabled{
  /* transform: scale(0.99); */
  cursor: not-allowed;
  background: linear-gradient(-135deg, var(--start-color-fadded), var(--end-color-fadded));
}

form .button input:enabled{
   background: linear-gradient(135deg, var(--start-color), var(--end-color));
}

form .button input:hover:enabled{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, var(--start-color), var(--end-color));
}
  
@media(max-width: 584px) {

 .container{
    max-width: 100%;
  }

  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }

  form .category{
    width: 100%;
  }

  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar{
    width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
